@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Square+Peg&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.typewriter {
  border-right: 0.15em solid #44403c; /* The typwriter cursor */
  overflow: hidden;
  animation: typing 3.5s steps(5, end), blink-caret 0.7s infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: grey;
  }
  50% {
    border-color: #44403c;
  }
}
body {

  /* background: #f5f5f5 url("./static/specks.png") repeat 20px 0 !important;
  color: #1f1f1f; */
}
@layer components {
  .card {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    max-height: 380px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding: 32px 16px 16px 16px;
    position: relative;
  }
  /* ... */
}